{% extends 'layout.twig' %}

{% block screen %}
<div id="editorContainer" style="display: none">
	<ul class="topnav" id="editorMenu">
		<li class="dropdown" id="editorMenu-addNode">
			<a>Add Node</a>
			<div id="editorMenu-addNode-content"></div>
		</li>
		<li style="margin-left: auto" id="editorMenu-close" class="clickable"><a>Close</a></li>
	</ul>
	<canvas style="display: block" id="editorCanvas"></canvas>
</div>
{% endblock %}

{% block body %}
	<div class="devicesGroupContainer" id="experimentsGroupContainer">
		{% for experiment in experiments %}
			<div class="container" style="width: 300px; height: 300px">
				<header>
					<span class="centerText title">{{ experiment.name }}</span>
				</header>
				<div class="mainView"></div>
				<footer class="footer">
					<button class="dangerButton waves-light waves-button waves-float">Remove</button>
					<button class="waves-light waves-button waves-float" onclick="enterSublink('{{ experiment.link }}')">View</button>
				</footer>
			</div>
		{% endfor %}
		<div class="container placeholder" style="width: 300px; height: 300px;">
			<div class="plusCircleButton" id="addExperiment">
				<span class="plusCircleText">+</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/javascripts/dataflowEditor.js"></script>
	<script type="text/javascript">
		let registeredNodes = {{ registeredNodes|json_encode|raw }};
		let experiments = {{ experiments|json_encode|raw }};
		
		let root = document.getElementById("experimentsGroupContainer");
		for(const cat of Object.keys(registeredNodes)) {
			for(const t of Object.keys(registeredNodes[cat].nodes)) {
				let node = registeredNodes[cat].nodes[t];
				if (!document.getElementById("editorMenu-addNode-content-" + cat)) {
					let li = document.createElement("li");
					li.id = "editorMenu-addNode-content-" + cat;
					let catLink = document.createElement("a");
					catLink.appendChild(document.createTextNode(node.category));
					li.appendChild(catLink);
					let ul = document.createElement("ul");
					ul.id = li.id + "-content";
					li.appendChild(ul);
					document.getElementById("editorMenu-addNode-content").appendChild(li);
				}
				let li = document.createElement("li");
				li.id = "nodeItem-" + cat + "-" + t;
				let nodeLink = document.createElement("a");
				let openPar = node.title.indexOf("("), closePar = node.title.indexOf(")");
				if(openPar >= 0 && closePar > 1 && openPar < closePar + 1 && !(closePar + 1 < node.title.length && openPar === 0)) {
					let extraInfoSpan = document.createElement("span");
					extraInfoSpan.classList.add("subtitle", "inline");
					nodeLink.appendChild(document.createTextNode(node.title.substring(0, openPar)));
					extraInfoSpan.appendChild(document.createTextNode(" " + node.title.substring(openPar, closePar + 1)));
					nodeLink.appendChild(extraInfoSpan);
				} else
					nodeLink.appendChild(document.createTextNode(node.title));
				nodeLink.onclick = () => {
					if(currentEditor) currentEditor.addNode(cat + "/" + t);
				};
				li.appendChild(nodeLink);
				document.getElementById("editorMenu-addNode-content-" + cat + "-content").appendChild(li);
				Dataflow.registerNode(node.title, node.category, node.inputLabels, node.outputLabels);
			}
		}
		const baseForm = {
			"name": {"type": "textbox", "isTitled": true}
		};
		Waves.init();
		document.getElementById("addExperiment").addEventListener("click", () => {
			let newSensorWindow = displayWindow("Add New Experiment", 450, createForm(baseForm, "add", (data) => {
				let link = cleanString(data.name);
				socket.emit("addExperiment", {name: data.name, link: link}, (status) => {
					if(status)
						enterSublink(link);
					else
						alert("An error occurred");
					closeWindow(newSensorWindow);
				});
			}));
		});
		let displayBtn = document.createElement("button");
		displayBtn.innerText = "Open";
		displayBtn.onclick = () => {
			displayEditor();
		};
		root.appendChild(displayBtn);
	</script>
{% endblock %}