{% extends 'layout.twig' %}

{% block screen %}
{% embed "templates/dataflowEditorContainer.twig" %}{% endembed %}
{% endblock %}

{% block body %}
	<h1 class="pageTitle">Experiments</h1>
	<div class="devicesGroupContainer" id="experimentsGroupContainer">
		{% for experiment in experiments %}
			<div class="container" style="width: 300px; height: 300px">
				<header>
					<span class="centerText title">{{ experiment.name }}</span>
				</header>
				<div class="mainView">
					<span>Sensors: </span>
					<span>Graphs: </span>
				</div>
				<footer class="footer">
					<button class="dangerButton waves-light waves-button waves-float">Remove</button>
					<button class="waves-light waves-button waves-float" onclick="enterSublink('{{ experiment.link }}')">View</button>
				</footer>
			</div>
		{% endfor %}
		<div class="container placeholder" style="width: 300px; height: 300px;">
			<div class="plusCircleButton" id="addExperiment">
				<span class="plusCircleText">+</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/javascripts/dataflowEditor.js"></script>
	<script type="text/javascript">
		let experiments = {{ experiments|json_encode|raw }};
		loadDataflowMenuNodes({{ registeredNodes|json_encode|raw }});
		
		let root = document.getElementById("experimentsGroupContainer");
		
		const baseForm = {
			"name": {"type": "textbox", "isTitled": true}
		};
		Waves.init();
		document.getElementById("addExperiment").addEventListener("click", () => {
			let newSensorWindow = displayWindow("Add New Experiment", 450, createForm(baseForm, "add", (data) => {
				socket.emit("addExperiment", {name: data.name}, (uuid) => {
					if(uuid !== undefined)
						enterSublink(uuid);
					else
						alert("An error occurred");
					closeWindow(newSensorWindow);
				});
			}));
		});
		let displayBtn = document.createElement("button");
		displayBtn.innerText = "Open";
		displayBtn.onclick = () => {
			displayEditor();
		};
		root.appendChild(displayBtn);
	</script>
{% endblock %}
