{% extends 'layout.twig' %}

{% block body %}
	<h2>Experiments</h2>
	<div class="list">
		{% for experiment in experiments %}
			<div class="item">
				<span class="flag {% if experiment.measurement.isActive %}ok{% elseif experiment.measurement.type %}warn{% else %}error{% endif %}"></span>
				<div class="content">
					<span class="h5 verticalCenter">{{ experiment.name }}<em class="extra">({{ experiment.graphs }} graphs)</em></span>
				</div>
				<div class="detail danger clickable">
					<span class="buttonText">Remove</span>
				</div>
				<div class="detail clickable" onclick="enterSublink('{{ experiment.id }}')">
					<span class="buttonText">View</span>
				</div>
			</div>
		{% endfor %}
		<div class="item placeholder clickable" id="addExperiment">
			<span class="plus">+</span>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/javascripts/page/experiments.js"></script>
{% endblock %}
