<html>
<head>
	<title>{{ title }}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/waves.css"/>
	<link rel='stylesheet' href='/stylesheets/login.css' />
	<script type="text/javascript" src="/javascripts/waves.min.js"></script>
</head>
<body>
	<h1 class="title">Dataview</h1>
	<div class="screenDivContainer loginBox">
		<form method="post" action="/" onsubmit="hashPassword()">
			<div>
				<span>Username</span>
				<input type="text" id="user" name="user"></input>
			</div>
			<br>
			<div>
				<span>Password</span>
				<input type="password" id="password" name="password"></input>
			</div>
			<br>
			<footer>
				<button id="submitButton" onsubmit="attemptLogin()">Enter</button>
			</footer>
		</form>
	</div>
	<script type="text/javascript">
		Waves.attach(document.getElementById("submitButton"), ["waves-button"]);
		Waves.init();

		function hashPassword(){
			let pwd = document.getElementById("password");

		}
	</script>
</body>
</html>
