<div id="editorContainer" style="display: none">
	<ul class="topnav" id="editorMenu">
		<li class="dropdown" id="editorMenu-addNode">
			<a>Add Node</a>
			<div id="editorMenu-addNode-content"></div>
		</li>
		<li style="margin-left: auto" id="editorMenu-close" class="clickable"><a>Close</a></li>
	</ul>
	<canvas style="display: block" id="editorCanvas"></canvas>
</div>
