@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap')

// Palette

$primary: #303f9f
$secondary: #2e7d32
$background: #303030
$background-light: #424242
$background-dark: #212121
$background-black: #000000
$text: #fafafa
$danger: #b71c1c
$warning: #ffcc00
$ok: #2e7d32

// Mixins

@mixin center
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

@mixin hoverable($color)
	&:hover:enabled
		background-color: lighten($color, 5%)

@mixin hoverableUnrestricted($color)
	&:hover
		background-color: lighten($color, 5%)

@mixin activatable()
	&:active
		box-shadow: 0 6px 20px 1px rgba(black, 0.35)

@mixin clickable($color)
	@include hoverable($color)
	@include activatable()

@mixin button($bgColor)
	cursor: pointer
	@include hoverable($bgColor)
	@include activatable()
	transition: background-color 0.25s ease-in-out

@mixin buttonfy($bgColor)
	&.clickable
		@include button($bgColor)
		@include hoverableUnrestricted($bgColor)

@mixin buttonTheme($color)
	background-color: $color !important
	&:hover
		background-color: lighten($color, 5%) !important
	&:disabled
		background-color: mix($color, $background-light, 60%) !important

// Element style

body
	padding: 10px
	background-color: $background
	font-family: 'Roboto', sans-serif
	font-size: 1em
	letter-spacing: 0.5px
	color: $text
	user-select: none
	font-weight: normal

a
	color: $text
	margin: 0 0 0 0 // 32px
	padding: 8px 8px 8px 0
	text-decoration: none
	display: block

button
	border-radius: 4px
	height: 36px
	outline: none
	border: none
	display: inline-flex
	align-items: center
	justify-content: center
	align-content: center
	text-align: center
	background-color: $background-dark
	font-size: 0.875rem !important
	font-family: 'Roboto', sans-serif
	text-transform: uppercase
	font-weight: normal
	letter-spacing: 1.25px
	text-decoration-style: solid
	text-rendering: auto
	color: $text
	padding: 0 16px 0 16px
	overflow: hidden
	box-shadow: 0 1px 1px -2px rgba($background-black, 0.2)
	cursor: pointer
	&:disabled
		cursor: not-allowed !important
		color: mix($text, $background-light, 60%) !important

img
	user-select: none

span
	display: inline-flex
	align-items: center

input[type=text], input[type=password], input[type=number]
	border-top: none
	border-right: none
	border-left: none
	border-bottom: solid darken($text, 30%) 2px
	outline: none
	background-color: transparent
	font-family: 'Roboto', sans-serif
	color: $text
	height: 30px
	font-size: large
	transition: box-shadow 0.3s ease-in-out, border-bottom 0.3s ease-in-out
	&:hover
		border-bottom: solid darken($text, 5%) 2px
	&:focus
		border-bottom: solid lighten($primary, 15%) 2px
	&:invalid
		border-bottom: solid $danger 2px

select
	background: $background-dark
	font-family: 'Roboto', sans-serif
	color: $text
	padding: 5px
	border: none
	outline: none
	font-size: large

input::-webkit-calendar-picker-indicator:hover
	background-color: $background-dark

.fileInput > input[type=file]
	width: 0
	height: 0
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1

.fileInput > label
	@include button($primary)
	@include hoverableUnrestricted($primary)
	color: $text
	background-color: $primary
	padding: 0.85em
	& > img
		height: 20px
		margin-right: 5px
		vertical-align: text-bottom

ul
	list-style: none
	padding: 0
	.inner
		padding-left: 0
		height: 0
		display: none
		li
			padding-left: 32px
		&.active
			display: block
			height: 100%

.topnav
	margin: 0
	display: flex
	flex-flow: row nowrap
	justify-content: flex-start
	background-color: $background-dark
	li
		@include hoverableUnrestricted($background-dark)
		padding: 0
		margin: 0
		cursor: pointer
		&.clickable
			&:active
				background-color: $background-light
		a
			display: inline-block
			text-align: center
			padding: 14px 16px
			font-size: 18px
		&:hover
			div
				display: flex
				flex-direction: column
				li
					@include hoverableUnrestricted($background-dark)
					position: relative
					border-bottom: 1px solid darken($background-dark, 5%)
					&:last-child
						border-bottom: none
					ul
						display: none
						position: absolute
						width: 14em
						top: 0
						left: 99%
						background-color: $background-dark
						li
							background-color: $background-dark
							border-left: 1px solid darken($background-dark, 5%)
							a
								&:active
									background-color: $background-light
					&:hover
						ul
							display: block
		div
			display: none
			position: absolute
			background-color: $background-dark
			width: 10em
			a
				@include hoverableUnrestricted($background-dark)
				display: block
				text-align: left

.editorPropMenu
	display: none
	background-color: $background-dark
	z-index: -1
	width: 0
	position: absolute
	right: 0
	opacity: 0
	&.visible
		display: block
		z-index: 1
		animation: slide 1s forwards

@keyframes slide
	100%
		width: 100%
		opacity: 100%
	50%
		opacity: 100%

.editorPropMenuHeader
	display: flex
	flex-direction: row
	justify-content: flex-end

table
	background-color: rgba($background-dark, 0.2)
	border-collapse: collapse
	table-layout: fixed
	width: 100%
	thead
		background: $background-dark
		tr
			display: block
			th
				font-weight: normal
	tbody
		display: block
		width: 100%
		overflow: auto
		height: 250px
	th, td
		padding: 10px
		text-align: left

.col-size-small
	width: 7%
	max-width: 150px
.col-size-medium
	width: 10%
	max-width: 250px
.col-size-uuid
	width: 12%
	max-width: 270px

.emptyTableDiv
	position: relative
	height: 50px
	border-radius: 5px
	background-color: rgba($background-dark, 0.2)
	text-align: center
	left: 50%
	transform: translate(-50%, 0)
	border-style: solid
	border-color: rgba($background-dark, 0.5)
	border-width: 5px
	span
		font-size: large
		vertical-align: middle
		line-height: 50px

.highlightText
	border-radius: 5px
	padding: 5px
	background-color: rgba($background-light, 0.4)

.tableContainer
	overflow: auto
	height: 250px
	border: 1px $background-dark solid

.screenDivContainer
	@include center
	position: absolute
	box-shadow: 0 0 17px -1px rgba($background-black, 0.75)

.waves-button
	&.primary
		background-color: $primary
	&.secondary
		background-color: $secondary

.content
	margin-left: 200px

.devicesGroupContainer
	display: flex
	align-content: space-evenly
	justify-content: flex-start
	flex-direction: row
	flex-wrap: wrap
	&.highlighted
		background-color: rgba($background-dark, 0.2)
		border-radius: 10px
		padding: 0 10px 0 10px

.container
	display: flex
	flex-flow: column
	position: relative
	background-color: rgba($background-dark, 0.35)
	border-radius: 10px
	margin: 10px 1% 0 0
	&.device
		width: 300px
		height: 300px
	&.sensor
		width: 600px
		height: 600px
	&.placeholder
		border-style: dashed
		border-color: rgba($background-dark, 0.5)
		border-width: 10px
		box-sizing: border-box
		text-align: center
	&:nth-child(5n)
		margin-right: 0

.mainView
	flex: 1 1 auto
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: left
	padding: 0 16px 0 16px

.graphHolder
	width: 95%
	height: 95%

.lowerRight
	position: absolute
	bottom: 0
	right: 0

.plusCircleButton
	@include center
	background-color: rgba($background-light, 0.4)
	width: 100px
	height: 100px
	border-radius: 50%
	display: grid
	cursor: pointer
	transition: background-color 0.2s ease-in-out
	&:hover
		background-color: rgba($background-light, 0.6)
	&:active
		background-color: rgba($background-light, 0.8)

span.plusCircleText
	display: block
	line-height: 100%
	font-size: 72pt
	color: rgba($background-dark, 0.6)

.activeMenuItem
	background-color: $background
	cursor: default
	ul
		background-color: darken($background, 3%)

li.menuItem
	padding: 0
	a, span
		padding: 8px 8px 8px 0
		margin: 0

.menuItemHeader
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-content: center
	padding-left: 8px
	&.noChildren
		padding-left: 32px

.sidenav
	height: 100%
	width: 200px
	position: fixed
	z-index: 1
	top: 0
	left: 0
	background-color: $background-dark
	overflow-x: hidden
	margin-top: 0
	padding-top: 60px
	font-size: 1rem
	letter-spacing: 0.5px
	
.menu
	a, span
		font-weight: normal
		transition: color 0.2s ease-in-out
		&:not(.activeMenuItem)
			&:hover
				color: #c7c7c7

.footer
	display: flex
	flex-direction: row
	justify-content: space-between

.window
	background-color: $background-dark
	display: flex
	flex-direction: column

.windowTitleBar
	background-color: darken($background-dark, 2%)
	display: flex
	flex-direction: row
	justify-content: flex-end
	min-height: 36px

.windowTitleSpan
	margin: auto
	display: block

.windowContent
	padding: 20px
	flex-grow: 1

.windowContentHolder
	margin-bottom: 50px
	overflow-y: auto

.statusWindowSide
	display: inline-block
	position: relative
	height: 5vh
	& > span
		position: absolute
		top: 50%
		transform: translateY(-50%)

.closeButton
	@include hoverable($background-dark)
	background-color: $background-dark !important
	display: inline !important
	margin: 0 !important
	border-radius: 0 !important
	&:hover
		background-color: lighten($background-dark, 5%) !important

.dangerButton
	@include buttonTheme($danger)

.blueButton
	@include buttonTheme($primary)

.greenButton
	@include buttonTheme($secondary)

.screenDiv
	background-color: rgba($background-black, 0.5)
	transition: opacity 0.2s ease-in
	position: fixed
	width: 100%
	height: 100%
	margin: 0
	top: 0
	left: 0
	z-index: 3

.centerElement
	@include center
	position: absolute

.form
	display: flex
	flex-direction: column

.formLine
	margin: 5px 0 5px 0

.formItem
	margin: 0 5px 0 5px
	width: 100%
	flex-grow: 1

.errorStatus
	text-align: center
	margin-bottom: 60px
	letter-spacing: normal
	font-weight: normal

.errorHeader
	margin-bottom: 0
	text-align: center

// Buttons

.button, button
	@include button($background-dark)
	background-color: $background-dark
	border-radius: 0.2em
	padding: 0.85em 1.1em
	color: $text
	&:disabled, &.disabled
		cursor: not-allowed
		color: mix($text, $background-light, 60%)

// Positioning

.verticalCenter
	position: relative
	top: 50%
	transform: translateY(-50%)

.horizontalCenterElement
	position: absolute
	left: 50%
	transform: translateX(-50%)

.vbox
	display: flex
	flex-direction: column

.hbox
	display: flex
	flex-direction: row
	justify-content: stretch

// Images

.progressCircle
	animation-name: rotateAndCenter
	animation-duration: 2s
	animation-iteration-count: infinite
	animation-timing-function: linear

.menuArrow
	width: 16px
	height: 16px
	background-image: url("../images/arrow.svg")
	background-repeat: no-repeat
	margin: auto 8px auto 0
	transition: transform 0.2s ease
	&.active
		transform: rotate(90deg)

.warningIcon
	display: inline-block
	width: 28px
	height: 27px
	background-image: url("../images/warning.svg")
	background-repeat: no-repeat
	margin: 8px 0 8px 0

// Text

h1, .h1
	font-size: 3em
	letter-spacing: -1.5px

h2, .h2
	font-size: 2.25em
	letter-spacing: -0.5px

h3, .h3
	font-size: 1.75em
	letter-spacing: 0

h4, .h4
	font-size: 1.125em
	letter-spacing: 0.25px

h5, .h5
	font-size: 24px
	letter-spacing: 0

h6, .h6
	font-size: 20px
	letter-spacing: 0.15px

.buttonText, .button, button
	font-size: 14px
	text-transform: uppercase
	letter-spacing: 1.25px

h1, h2, .h1, .h2
	font-weight: lighter

h3, h4, h5, .h3, .h4, .h5, .pageTitle, .pageSubtitle
	font-weight: normal

h6, .h6, .buttonText, .button, button
	font-weight: 500

span.subHeader
	letter-spacing: 0.15px

.extra, .subtitle
	color: darken($text, 10%)
	font-style: italic

.extra
	font-size: 0.8em

.subtitle
	display: block
	font-weight: normal
	margin-top: 5px
	&.inline
		margin: 0
		display: inline

.errorText
	color: lighten($danger, 5%)

.stackTraceHeader
	font-weight: normal
	margin-bottom: -5px

.stackTraceText
	user-select: text
	color: #ffffff
	font-family: 'Ubuntu Mono', monospace
	margin-left: 70px

.centerText
	text-align: center

.title
	display: block
	text-align: center
	font-weight: normal
	font-size: 1.5rem
	padding-top: 0.67em

.okText
	color: $ok
.warningText
	color: $warning
.errorText
	color: $danger

// Lists

.list
	display: flex
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: stretch
	background-color: rgba($background-dark, 0.2)
	border-radius: 5px
	padding: 10px
	& > .item
		height: 10vh
		background-color: rgba($background-dark, 0.25)
		margin-bottom: 10px
		display: flex
		border-radius: 5px
		&:last-child
			margin-bottom: 0
		&.placeholder
			border-style: dashed
			border-color: rgba($background-dark, 0.5)
			border-width: 10px
			box-sizing: border-box
			& > span
				@include center
				font-size: 1.75em
				text-transform: uppercase
				font-variant: all-small-caps
				color: darken($text, 30%)
				&.plus
					font-size: 4em
					font-variant: normal
					font-weight: 400
			&.clickable
				cursor: pointer
				&:hover
					box-shadow: 0 6px 10px 1px rgba(black, 0.25)
				@include activatable()
		& > *
			&:first-child
				border-top-left-radius: 5px
				border-bottom-left-radius: 5px
			&:last-child
				border-top-right-radius: 5px
				border-bottom-right-radius: 5px
			z-index: 1
		& > .flag
			width: 10px
			height: 100%
			background-color: $primary
			order: 0
			&.ok
				background-color: $ok
			&.warning
				background-color: $warning
			&.error
				background-color: $danger
		& > .content
			display: inline-block
			margin: 0
			width: calc(90% - 10px)
			background-color: $background-dark
			padding: 10px 5px 10px 20px
			order: 1
			flex-grow: 9
		& > .detail
			display: inline-block
			background-color: mix($background, $background-dark, 30%)
			order: 2
			padding: 10px 20px 10px 20px
			@include buttonfy(mix($background, $background-dark, 30%))
			& > *
				@include center
			&.danger
				background-color: mix($danger, $background-dark, 50%)
				@include buttonfy(mix($danger, $background-dark, 50%))
		&.clickable, & > .clickable
			&:hover, &:active
				z-index: 2
			@include activatable()

// Animations

@keyframes rotateAndCenter
	0%
		transform: translate(-50%, -50%) rotate(0deg)
	100%
		transform: translate(-50%, -50%) rotate(360deg)